.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Flex {
  display: flex;
}

.Vertical-flex {
  display: flex;
  flex-direction: column;
}

.Body-main {
  height: 100vh;
  width: 100vw;
  /* background-image: linear-gradient(#5627EF, white); */
  background-color: #120F0F;
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
}

#Not-sidebar{
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

h1 {
  color: white;
  font-size: 80px;
}

html, body {
  height: 100%;
  margin: 0;
}

#scroll-main{
  height: 500px;
  padding-right: 150px;
  margin-left: 5%;
}

.Most-played {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 73vw;
  position: relative;
  margin-left: 40px;
}

.Display-img {
  object-fit: contain;
  width: 100%;
  max-height: 200px;
}

.Display-p {
  text-align: center;
  width: 200px;
  color: whitesmoke;
}

.Display-container {
  display: flex;
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  padding-bottom: 15px;
  /* overflow-y: hidden; */
}

.Playlist-display-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  /* overflow-x: hidden; */
  width: 100vw;
  padding-bottom: 15px;
  /* overflow-y: hidden; */
}

.Scroll-left {
  position: absolute;
  top: 25px;
  left: -40px;
  height: 200px;
  margin-top: 15px;
  z-index: 1;
  opacity: .5;
  width: 40px;
}

.Scroll-right {
  position: absolute;
  right: -40px;
  top: 25px;
  height: 200px;
  margin-top: 15px;
  z-index: 1;
  opacity: .5;
  width: 40px;
}

.Display-div {
  padding-top: 15px;
  padding-left: 10px;
  transition: transform 300ms;
  height: 290px;
}

.Display-div:hover {
  transform: scale(1.08);
}

.Display-container::-webkit-scrollbar {
  display: none;
}

.Overflow {
  overflow-x: scroll;
  overflow-y: hidden;
}

h3 {
  margin-left: 5px;
  margin-right: 5px;
}

h1 {
  margin-top: 18px;
  margin-bottom: 18px;
}

.Volume {
  position: absolute;
  right: 0;
  bottom: 0;
}

#Main-display {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 20px;
}

.Vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.display0 {
  background-color: #97FABC;
  height: 100px;
  width: 100px;
  border: white solid;
  margin-right: -25px; 
  position: absolute;
  transition: all 10s;

}

.display1 {
  background-color: #BDA5F6;
  height: 120px;
  width: 120px;
  border: white solid;
  margin-right: -20px; 
  z-index: 1;
  position: absolute;
  transition: all 10s ease;
}

.display2 {
  background-color: #98FBF3;
  height: 150px;
  width: 150px;
  border: white solid;
  justify-content: flex-end;
  z-index: 2;
  position: absolute;
  transition: all 10s ease;
}

.display3 {
  background-color: #EFFCA7;
  height: 120px;
  width: 120px;
  border: white solid;
  justify-content: flex-end;
  margin-left: -20px;
  z-index: 1;
  position: absolute;
  transition: all 10s ease;
}

.display4 {
  background-color: #F0AEBD;
  height: 100px;
  width: 100px;
  border: white solid;
  margin-left: -25px;
  position: absolute;
  transition: all 10s linear;
}

.Hover-div{
  position: relative;
}

.Button-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  border-radius: 12px;
}

.Button-recommend {
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  /* background-color: #838383; */
  justify-content: space-evenly;
  width: 80%;
  border-radius: 12px;
}

.tool-button{
  margin-right: 15px;
  background-color: gray;
  border-radius: 12px;
}

.Button-click {
  /* position: fixed; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
}

#Right-button {
  position: absolute;
  right: 30%;
  top: 50%;
  z-index: 3;
}

#Left-button {
  position: absolute;
  left: 30%;
  top: 50%;
  z-index: 3;
}

.Volume-button{
  margin-top: 20px;
  width: 30px;
  background-color: grey;
  border-radius: 12px;
  margin-top: auto;
  margin-bottom: auto;
}

.pressed {
  background-color: #afb1b3; /* Pressed background color */
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

.Playlist-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 10;
  height: 60vh;
  width: 30vw;
  background-color: #2e2828;
  padding: 20px;
  border-radius: 12px;
  overflow-y: auto;
  box-shadow: 2px 2px gray;
}

.Playlist-img {
  height: 90px;
  width: 90px;
  margin: 10px;
}

.Playlist-content {
  font-weight: bold;
  display: flex;
}

.Playlist-name {
  color: white;
  font-weight: bold;
  margin-bottom: 3px;
}

.Playlist-button {
  background-color: transparent;
  width: 100%;
  border: none;
}
.Playlist-button:hover {
  background-color: rgb(122, 122, 122);
}

.Playlist-button:active {
  background-color: rgb(59, 55, 55);
  outline: none;
}

#dismiss-alert {
  position: absolute;
  bottom: 3%;
  right: 3%;
  z-index: 10;
}

#dismiss-notification {
  position: absolute;
  top: 10%;
  left: 57.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 10;
  width: fit-content;
  color: white;
}

.dismissButton {
  height: 25px;
}

.Hover-button {
  width: 30px;
  height: 30px;
}

#volume-button {
  width: 15px;
  height: 15px;
}

#Unavailable {
  text-align: center;
  color: red;
  margin: 0;
}

#Recommendation-div {
  width: 85vw;
  height: auto;
  /* background-color: #D9D9D9; */
  background-image: linear-gradient(#5627EF, black);
  margin-bottom: 10px;
  padding: 3px;
  /* border-radius: 12px; */
}

.Recommend-img{
  width: 100%;
  height: 100%;
}

.Recommend-img:not([src]), .Recommend-img[src=""] {
  display: none;
}

#Login-body {
  background-image: linear-gradient(#1ED760, black);
  height: 100vh;
  padding: 100px;
  padding-bottom: 0px;
  padding-top: 0px;
  overflow: hidden
}

#Login-title{
  margin-top: 0px;
  font-size: 50px;
  color: whitesmoke;
  text-align: left;
  width: 400px;
  margin-bottom: 0px;
  margin-left: 0;
}

#Login-label{
  text-align: left;
  color: gray;
  margin-top: 10px;
}

#Title-div{
  margin-left: 120px;
  margin-bottom: 100px;
}

#Description-div{
  width: 300px;
  height: 100px;
  border-radius: 12px;
  padding: 30px;
  z-index: 1;
  margin: auto;
}

#Description{
  width: 100%;
  color: white;
  font-size: 20px;
}

#Disclaimer{
  background-color: #2A2A2A;
  width: 600px;
  height: fit-content;
  margin-left: 50px;
  border-radius: 12px;
  padding: 30px;
  color: white;
  margin-top: -900px;
  font-size: 20px;
  
}

#Sign-in{
  height: 90px;
  width: 100%;
  background-color: #1ED760;
  border: none;
  color: whitesmoke;
  font-size: 29px;
  border-radius: 12px;
}

#Sign-in:hover{
  background-color: #219c4c;
}

#Sign-in:active{
  background-color: #1a783b;
}

.No-hover{
  pointer-events: none;
}

#Gif-holder{
  background-color: #2A2A2A;
  margin: 0;
  height: 100vh;
  width: 500px;
  margin-bottom: 300px;
  margin-left: auto;
  border-radius: 12px;
  margin-top: -80px;
  padding: 10px;
  /* position: absolute; */
}

.ex-slider{
  display: flex;
  height: 100px;  
}

.ex-item{
  padding: 5px;
  border: 1px black solid;
  transition: transform 300ms ease 100ms;
}

.Display-div:has(~ .Display-div:hover) {
  transform: translateX(-10%);
}

.Display-div:hover ~ .Display-div {
  transform: translateX(10%);
}

#side-bar{
  width: 15vw;
  height: 100%;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  padding-left: 30px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  color: #838383;
}

.side-bar-p{
  font-weight: bold;
  text-align: left;
}

.sidebar-img{
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

.sidebar-div{
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
  width: 80px;
}

.sidebar-button-p{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

#side-bar-margins{
  margin-top: 30px;
  position: fixed;
}

.sidebar-button{
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.sidebar-button:hover{
  color: #a3a2a2;
}

#divider{
  color: #838383;
  border: #838383 1px solid;
  width: 100%;
}

.sidebar-playlists{
  margin-bottom: 15px;
  margin-top: 0;
}

.sidebar-playlist-div{
  text-align: left;
  overflow-y: auto;
}

.horizontal-center{
  margin-left: auto;
  margin-right: auto;
}

#title-margins{
  margin-top: 5px;
  margin-bottom: 10px;
}

.no-margin{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 30px;
  margin-right: 30px;
}

#playlist-holder{
  height: 80%;
  overflow-y: auto;
}

#playlist-holder::-webkit-scrollbar {
  display: none;
}

#link-spotify{
  font-weight: bold;
  font-size: 20px;
}

#important{
  color: red;
  margin-top: -100px;
  font-weight: bold;
  font-size: 14px;
}

.no-data{
  font-size: 20px;
  color: whitesmoke;
  text-align: center;
}

#scroll {
  overflow-x: auto;
}

#scroll::-webkit-scrollbar {
  display: none;
}

